.bg{
    background-image: url(file:///home/kk/Downloads/background.jpg);
    background-repeat: no-repeat;
    
    background-size: 1500px 900px;
}
.icon{
    padding-left: 550px;
    padding-top: 180px;
    padding-bottom: 0px
    
}
.words{
    font-family: 'Lato', sans-serif;
    padding-left: 510px;
    padding-top: 90px;
    font-size:40px;
    color: white;
}
.text-below{
    padding-left: 370px;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}
.mouse-click{
    padding-top: 150px;
    padding-left: 550px;
}
.words-continue{
    font-family: 'Lato', sans-serif;
    padding-left: 420px;
    padding-top: 20px;
    font-size:40px;
    color: white;
    
}
.About-Us{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding-left: 600px;
    padding-top: 30px;
}
.details{
    font-family: 'Lato', sans-serif;
    padding-left: 200px;
}
.continue1, .continue2, .continue3, .continue4{
    padding-top: 100px;
}
.continue1{
    padding-left: 420px;
    padding-top: 100px;
}
.continue2{
    padding-left: 100px;
}
.continue3{
    padding-left: 50px;
}
.continue4{
    padding-left: 300px;
}
.servicebg{
    background-image: url(file:///home/kk/Downloads/IPimages/s_image.jpg);
    background-size: 1500px 900px;
    background-repeat: no-repeat;
    color: white;
    

}
.header{
    font-family: 'Lato', sans-serif;
    padding-left: 600px;
    padding-top: 30px;
    font-size: 30px;

}
.T1{
    padding-left: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
}
.T2{
    padding-left: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
}
.T3{
    padding-left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head{
    padding-left: 550px;
    padding-top: 30px;
    font-size: 30px;
}
.first{
    padding-left: 150px;
}
.lp{
    padding-left: 158px;
    cursor: pointer;
}
.ll{
    padding-left: 3px;
}
.tittle{
    padding-left: 600px;
    font-size: 40px;
    display: none;
}
.pp{
    border: 60px;
    border-color: black;
}
.comps{
    background-image: url(file:///home/kk/Downloads/IPimages/c_image.jpg);
    background-size: 100%;
    padding-bottom: 600px;
    background-repeat: no-repeat;
}
.Tt{
    padding-left: 550px;
    padding-top: 120px;
    color: White;
    font-size: 40px;
}
.name{
    padding-left: 300px;
    
}
.Name{
    size: 20px;
}
.inputs{
    padding-left: 400px;
}
.email{
    padding-left: 500px;
    padding-top: 0px;
}
.message{
    padding-left: 250px;
    padding-top: 90px;
    height: 590px;
    width: 69px;
}
.submit{
    padding-top: 50px;
    padding-left: 80px;
}
.Work{
    display: none;
}
.draw{
    padding-left: 20px;
}
.dev{
    cursor:pointer;
}
.devwr{
    display: none;
    cursor: pointer;
}
.product{
    
    cursor: pointer;
}
.Dt{
    display: none;
}
